/* Global CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-bg: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-btn-bg: #1a1a1a;
  --color-btn-hover: #646cff;
  --color-btn-bg-light: #f9f9f9;
  --color-bg-light: #ffffff;
  --color-text-light: #213547;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-family);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-bg-light);
    --color-text: var(--color-text-light);
    --color-link-hover: #747bff;
    --color-btn-bg: var(--color-btn-bg-light);
  }
}
